:root {
  --bg-color: #ffb4a2;
  --font-color: #fff;
}

html {
  margin: 0;
}

body {
  margin: 0;
  background-color: var(--bg-color);
}

a {
  text-decoration: none;
}

header {
  display: none;
}

header ul {
  list-style: none;
}

.HamMenu {
  display: flex;
  justify-content: left;
  /* align-content: left; */
  width: 100%;
}

.HamMenu svg {
  align-self: center;
  padding: 0 20px;
}

.logo {
  color: var(--font-color);
}

.wrapper {
  margin: 0 auto;
  background-color: #ffb4a2;
}

.wrapper article h2 {
  font-size: 50px;
  color: var(--font-color);
  /* margin-top: px; */
  padding: 30px 30px 20px;
  font-family: Arial;
  line-height: 44px;
}

.wrapper article p {
  font-size: 16px;
  color: rgb(112, 112, 112);
  font-family: Arial;
  padding: 0px 30px 20px;
  line-height: 30px;
}

q {
  margin: 0 30px;
  font-size: 12px;
}

.pic {
  width: 100%;
  filter: drop-shadow(0px 5px 76px #c36666);
}
